.hero{
    background-color: var(--c5);
    padding-bottom: 2rem;
}
.hero-text-content {
    padding: 3rem;
    font-size: 19px;
    color: var(--c1);
    text-align: center;
}

.text-highlight{
    font-size: 3.5rem;
    display: block;
    min-height: 3.5rem;

}

.hero-image img{
    padding: 2.5rem;
    max-width: 100%;
    height: auto;
}
.hero-features {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    justify-items: center;
}
.feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #3B4B5C;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    color: var(--c1);
    border: 1px solid var(--c4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform var(--transition);
    min-width: 120px;
}
.feature-card:hover {
    transform: translateY(-5px);
}

@media (width > 768px) {
    .hero-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .hero-text-content a{
        font-size: 1.8rem;
    }
    .hero-text-content{
        text-align: left;
        font-size: 3.8rem;
        padding-left: 2rem;
    }
    .hero-text-content,
    .hero-image{
        width: 50%;
    }
    .hero-features {
        flex: 1;
        justify-items: center;
    }
    .feature-card{
        font-size: 2rem;
    }
}


