.app-promo {
    padding: 6rem 0;
    background-color: var(--c6);
}
.app-grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.app-grid img:first-child {
    max-width: 80%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.app-content {
    text-align: center;
    display: block;
}
.app-description {
    margin-bottom: 3rem;
}
.app-content a img {
    height: 5rem;
    width: auto;
    cursor: pointer;
    transition: opacity var(--transition);
    margin: 0 0.75rem;
}
.app-content a img:hover {
    opacity: 0.8;
}

@media (min-width: 992px) {
    .app-grid {
        flex-direction: row;
        gap: 8rem;
        text-align: left;
    }
    .app-content {
        flex: 1;
        padding-top: 5rem;
    }
    .app-grid img:first-child {
        order: -1;
        flex: 1;
    }
    .app-content {
        text-align: left;
    }
}