.main-header {
    background-color: var(--c1);
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--c6);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2.8rem;
    margin: 0;
    color: var(--c3);
    font-weight: 900;
}
.logo--primary {
    color: var(--c5);
}
.nav-menu {
    list-style: none;
    padding: 0;
    display: none;
    gap: 2rem;
}
@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        align-items: center;
    }
    .nav-menu a {
        color: var(--c5);
        text-decoration: none;
        padding: 0.5rem 0;
        transition: color var(--transition);
    }
    .nav-menu a:hover {
        color: var(--c2);
    }
}