.main-footer {
    padding-top: 4rem;
}
.footer-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    text-align: center;
}
@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
}

.footer-title {
    color: var(--c4);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.footer-contact-info p {
    color: var(--c1);
    margin: 0.5rem 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .footer-links {
        align-items: flex-start;
    }
}
.footer-links a {
    color: var(--c1);
    text-decoration: none;
    margin: 0.5rem 0;
    transition: color var(--transition);
}
.footer-links a:hover {
    color: var(--c3);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .social-icons {
        justify-content: flex-start;
    }
}
.social-icons a i {
    color: var(--c1);
    font-size: 2.2rem;
    transition: color var(--transition);
}
.social-icons a i:hover {
    color: var(--c3);
}

.footer-copy {
    text-align: center;
    padding: 1rem 0 2rem 0;
}
.footer-copy hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 74, 173, 0.5);
    margin-bottom: 2rem;
}
.footer-copy p {
    color: var(--c6);
    font-size: 1.4rem;
}